<%= form_tag sessions_path do %>
	<div class="field">
		<%= label_tag :email %>
		<%= text_field_tag :email, params[:email], :required => true %>
	</div>
	<div class="field">
		<%= label_tag :password %>
		<%= password_field_tag :password, params[:password], :required => true %>
	</div>
	<div class="actions">
		<%= submit_tag "Log in", class: "btn rounded btn-blue" %>
	</div>
<% end %>